.home .groups {
    position: fixed;
    right: 0;
}

.user.groups {
    width: 25%;
    text-align: center;
    padding-top: 60px;
}

.user.groups ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user.groups button {
    margin-top: 15px;
}

.all.groups {
    padding-top: 20px;
    padding-left: 5%;
    width: 25%;
}

.all.groups button {
    margin-left: 10px;
    margin-top: 5px;
}

.group {
    text-align: center;
    margin: 10px;
}

.group button {
    margin-left: 5px;
    margin-right: 5px;
}

.group .users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.group .users .profile.card {
    width: 23%;
    padding-top: 0;
}

.group .users .profile.card img {
    max-height: 200px;
}

.group .post.card {
    width: 50%;
    margin-left: 25%;
}

.main.groups {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.single.group {
    width: 50%;
    padding-top: 10%;
    padding-right: 10%;
}

.group .toggle.form {
    margin-left: 25%;
    margin-top: 10px;
}
