.home {
    display: flex;
    justify-content: center;
}

.profile, .groups {
    width: 25%;
    align-items: center;
}

.posts {
    width: 50%;
    text-align: center;
    margin-top: 23px;
}

.post.card {
    border: 3px solid #007bff;
    text-align: center;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 10px;
    background-color: black;
}

.post.card img {
    max-width: 80%;
    margin: 10px;
}

.heading, .post.buttons {
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    border-bottom: 2px solid #007bff;
}

.content {
    border-top: 2px solid #007bff;
    border-bottom: 3px solid #007bff;
    padding: 10px;
}

.post.buttons a {
    color: black;
    text-decoration: none;
}

.post.buttons a:hover {
    color: gray;
}
