.navbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 43px;
    background-color: #007bff;
    padding-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
}

.navbar img {
    height: 56px;
    margin-top: -16px;
}
