.home .profile {
    position: fixed;
    width: 25%;
    left: 0;
    /* max-height: px; */
}

.profile.card {
    /* width: 25%; */
    text-align: center;
    color: white;
    padding-top: 30px;
}

.profile.card img {
    max-width: 80%;
    border-radius: 50%;
    max-height: 250px;
}

.post.info .profile.card {
    width: 20%;
}
