.profile.card {
    width: 100%;
    text-align: center;
    color: white;
}

.profile.card img {
    max-width: 80%;
    border-radius: 50%;
}

.profile.card button {
    background-color: #007bff;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}
