.home .profile {
    position: fixed;
    width: 25%;
    left: 0;
}

.profile.card {
    /* width: 25%; */
    text-align: center;
    color: white;
    padding-top: 30px;
}

.profile.card img {
    max-width: 80%;
    border-radius: 50%;
}
